/******************Шрифты******************/
@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/MyriadProBold.eot');
    src: url('fonts/MyriadProBold.eot') format('embedded-opentype'),
         url('fonts/MyriadProBold.woff2') format('woff2'),
         url('fonts/MyriadProBold.woff') format('woff'),
         url('fonts/MyriadProBold.ttf') format('truetype'),
         url('fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}
@font-face {
    font-family: 'robotobold';
    src: url('fonts/robotobold.eot');
    src: url('fonts/robotobold.eot') format('embedded-opentype'),
         url('fonts/robotobold.woff2') format('woff2'),
         url('fonts/robotobold.woff') format('woff'),
         url('fonts/robotobold.ttf') format('truetype'),
         url('fonts/robotobold.svg#robotobold') format('svg');
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/robotoregular.eot');
    src: url('fonts/robotoregular.eot') format('embedded-opentype'),
         url('fonts/robotoregular.woff2') format('woff2'),
         url('fonts/robotoregular.woff') format('woff'),
         url('fonts/robotoregular.ttf') format('truetype'),
         url('fonts/robotoregular.svg#robotoregular') format('svg');
}
@font-face {
    font-family: 'opensansl';
    src: url('fonts/opensansl.eot');
    src: url('fonts/opensansl.eot') format('embedded-opentype'),
         url('fonts/opensansl.woff2') format('woff2'),
         url('fonts/opensansl.woff') format('woff'),
         url('fonts/opensansl.ttf') format('truetype'),
         url('fonts/opensansl.svg#opensansl') format('svg');
}
@font-face {
    font-family: 'opensansr';
    src: url('fonts/opensansr.eot');
    src: url('fonts/opensansr.eot') format('embedded-opentype'),
         url('fonts/opensansr.woff2') format('woff2'),
         url('fonts/opensansr.woff') format('woff'),
         url('fonts/opensansr.ttf') format('truetype'),
         url('fonts/opensansr.svg#opensansr') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadProRegular.eot');
    src: url('fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
/*******************Шапка******************/
section#header {
	background-color: black;
	background-size: cover;
}
.logo {
	padding-top: 40px;
}
.textcenter h1 {
	padding-top: 291px;
	color: #fff;
	font-size: 36px;
	font-family: 'robotoregular';
	text-transform: uppercase;
}
.phone h2{
	padding-top: 120px;
	color: #fff;
	font-family: 'robotobold';
	font-size: 51px;
}
.phone p{
	padding-top: 61px;
	color: #fff;
	font-family: 'robotoregular';
	font-size: 20px;
}
.phone a{
	text-decoration: none;
	color: #fff;
}
#mail {
	text-decoration: underline;
}
/******************Навигация******************/
ul.list-inline a {
	display: inline-block;
	text-transform: uppercase;
	margin: 0px 58px 0px;
	color: #fff;
	font-family: 'MyriadProBold';
}
ul.list-inline a:hover {
	text-decoration: none;
	border-bottom: 5px solid #fff;
}
ul.list-inline {
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 104px;
}
/*Полоса*/
.polosa {
	margin-top: 30px;
	margin-bottom: 71px;
}
.polosa p {
	margin-top: 45px;
	text-align: center;
	font-family: 'robotoregular';
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}
/******************Главная******************/
section#main {
	background-color: #ffffff;
}
.lefttext {
	font-family: 'opensansr';
	font-size: 18px;
}
.lefttext h2 {
	font-family: 'robotobold';
	font-size: 36px;
	text-transform: uppercase;
	color: #422222;
	margin-top: 63px;
}
.lefttext hr {
	border: none;
    background-color: #97b5f2; 
    height: 3px; 
	width: 251px;
	margin-left: 0px;
}
/******************Навигация главная******************/
.righttext li:focus {
	background-color: black;
}
.righttext ul {
	font-size: 18px;
	font-family: 'opensansl';
	margin-top: 63px;
}
.righttext {
	width: 390px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #6495ed;
	color: #fff;
}
}
.righttext a:hover{
	color: #6495ed;
}
.righttext a{
	color: black;
}
/******************Форма******************/
section#form {
	background: url(../img/bg-form.jpg) no-repeat center top;
	background-size: cover;
	margin-top: 73px;
}
.header-form h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'robotobold';
	margin-top: 55px;
}
.header-form hr {
	border: none;
    background-color: #97b5f2; 
    height: 3px; 
	width: 253px;
	margin-top: 0px;
}
.form {
	background-color: #fff;	
	padding-top: 42px;
	height: 310px;
	margin-bottom: 77px;
}
.form input {
	padding: 10px;
	border: none;
	border-bottom: 3px solid black;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'robotobold';
}
input:hover {
	border-bottom: 3px solid #97b5f2;
}
input:focus{
	border-bottom: 3px solid #97b5f2;
	outline: none;
}
.form-btn {
	padding: 10px;
	margin-top: 29px;
	width: 164px;
	font-family: 'MyriadProBold';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-color: #6495ed;
	margin-bottom: 20px;
}
.form textarea {
	border: none;
	padding: 10px;
	border-bottom: 3px solid black;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'robotobold';
	margin-top: 50px;
	resize: none;
}
textarea:hover {
	border-bottom: 3px solid #97b5f2;
}
textarea:focus {
	border-bottom: 3px solid #97b5f2;
	outline: none;
}
/******************Cлайды******************/
section#slider {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 57px;
}
.ccontent h3 {
	text-align: center;
	font-size: 24px;
	font-family: 'MyriadProRegular';
} 
.ccontent p {
	font-size: 18px;
	font-family: 'opensansr';
	text-align: left;
}
#myCarousel {
	margin: 40px;
}
#myCarousel .glyphicon {
	color: #97b5f2;
	width: 5%;
}
.carousel-indicators {
	bottom: -45px;
}
.carousel-indicators li{
	background-color: #888888;
	padding: 10px;
	margin: 0px 10px;
	border-radius: 20px 20px 20px 20px;
}
.carousel-indicators .active{
	background-color: #97b5f2;
	margin: 0px 10px;
}
#slider a{
	background-image: linear-gradient(to top,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 0%);
}
.carousel-control {
	width: auto;
}
/******************Отзывы******************/
section#reviews {
	background: url(../img/bg-reviews.jpg) no-repeat;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	margin-top: 56px;
}
#reviews h2 {
	font-family: 'robotobold';
	font-size: 36px;
	text-transform: uppercase;
	color: #422222;
	text-align: center;
}
#reviews hr {
	border: none;
    background-color: #97b5f2; 
}
#myCarousel2 {
	font-size: 14px;
	font-family: 'opensansr';
	background: url(../img/bg-otzovik.png) no-repeat;
	padding: 59px 13px 38px 35px;
	margin-left: 35px;
}
/*Подвал*/
section#footer {
	background-color: #322222;
	color: #fff;
	font-family: 'robotoregular';
}
section#footer .footer{
	margin-top: 70px;
}
section#footer li {
    list-style-type: none;
	font-size: 11px;
}
section#footer .nameblock{
	font-size: 14px;
	color: #494949;
}
section#footer h4 {
	font-size: 23px;
	-webkit-text-stroke: 0.4px black;
}
.textblock {
	color: #aaaaaa;
	-webkit-text-stroke: 0.3px black;
}
.twpod {
margin-top: 66px;
}
.headfooter {
	border-left: 2px solid #484848;
}
section#footer ul {
	border-left: 2px solid #484848;
	padding-left: 20px;
	margin-top: 50px;
}
.headfooter a{
	text-decoration: none;
	color: #fff;
}
